@import "compass/css3";

/* general */
.wrapper {
  margin: 2em;
}

/* general */
h1 {
  color: #ff4d4d;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  color: #333333;
}

/* navigation */
#main-nav {
  background-color: #333333;
}

#main-nav ul {
  padding: 0;
  margin: 0;
}

#main-nav ul li {
  list-style: none;
  display: inline-block;
  width: 7em;
}

#main-nav ul li a {
  display: block;
  text-decoration: none;
  color: #d3d3d3;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 2.5em;
  text-align: center;

  &:hover {
    background-color: #191919;
    display: block;
    text-decoration: none;
    color: #fff;
  }

  &:active {
    background-color: #191919;
  }
}

/* welcome splash screen */
#welcome-splash {
  width: 80%;
  margin: 0 auto;
  margin-top: 3em;
  text-align: center;
}

/* form */
label {
  display: block;
  margin-top: 1em;
}

#submit {
  margin-top: 1em;
}

/* user profile */
#user-header {
  margin-bottom: 4em;
}

#friends-list {
  margin-bottom: 4em;
}

#user-recent-posts p {
  font-size: 1em;
}
